@font-face {
  font-family: "Staatliches";
  src: url("Staatliches-Regular.eot");
  src: url("Staatliches-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Staatliches-Regular.woff2") format("woff2"), url("../fonts/Staatliches-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("Barlow-Regular.eot");
  src: url("Barlow-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Regular.eot");
  src: url("SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("ProximaNova-Regular.eot");
  src: url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 1192px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 500px;
    margin: 0 10px;
    overflow: hidden;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 450px;
  }
}
.main__banner {
  margin-top: 86px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1C62CD;
  padding: 28px 123px 14px 71px;
}

.bunner__description {
  font-family: "SFProDisplay";
  font-size: 38px;
  font-weight: 700;
  text-transform: none;
  text-align: left;
  color: #fff;
  line-height: 36px;
  margin-left: 40px;
}

.bunner__button .main__button {
  background-color: #fff;
  font-family: "SFProDisplay";
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: right;
  color: #2F3035;
  line-height: 50px;
  padding: 0 41px;
  margin-left: 50px;
}

.main__banner {
  display: flex;
}

.main__banner_mobile {
  display: none;
}

@media (max-width: 1192px) {
  .main__banner {
    display: none;
  }
  .main__banner_mobile {
    flex-direction: column;
    display: flex;
  }
  .bunner__description {
    font-family: "SFProDisplay";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 18px;
  }
  .bunner__button .main__button {
    background-color: #fff;
    font-family: "SFProDisplay";
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
    color: #2F3035;
    line-height: 50px;
    padding: 0 41px;
    margin-left: 0;
    white-space: nowrap;
  }
  .bunner__botom {
    display: flex;
    align-items: center;
  }
  .bunner__image img {
    width: 70px;
    height: 70px;
  }
  .bunner__image_quadro {
    margin-left: 30px;
  }
}
@font-face {
  font-family: "Staatliches";
  src: url("Staatliches-Regular.eot");
  src: url("Staatliches-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Staatliches-Regular.woff2") format("woff2"), url("../fonts/Staatliches-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("Barlow-Regular.eot");
  src: url("Barlow-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Regular.eot");
  src: url("SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("ProximaNova-Regular.eot");
  src: url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 1192px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 500px;
    margin: 0 10px;
    overflow: hidden;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 450px;
  }
}
.main__categories {
  margin-top: 80px;
}

.categories__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: none;
}

.categories__wrapper div:nth-child(1) {
  margin-left: 0;
}

.categories__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-star;
  font-family: "Barlow";
  font-size: 28px;
  font-weight: 700;
  text-transform: none;
  text-align: left;
  color: #2F3035;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  padding: 20px 37.79px 14px 20px;
  margin-left: 30px;
  flex-basis: 370px;
}
.categories__item:hover {
  cursor: pointer;
}

.categories__item-active {
  color: #1C62CD;
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__wrapper-bottom {
  margin-top: 30px;
}

.categories__title {
  line-height: 28px;
}

.categories__link {
  position: absolute;
  bottom: 14px;
  left: 20px;
}
.categories__link a {
  font-family: "Barlow";
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  color: #C4C4C4;
}
.categories__link a:hover {
  cursor: pointer;
}

.categories__item-padding {
  padding-right: 24px;
}

@media (max-width: 1192px) {
  .categories__wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 990px) {
  .categories__wrapper {
    align-items: center;
    justify-content: center;
  }
  .categories__item {
    margin-left: 0;
    margin-top: 30px;
  }
}
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 1192px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 500px;
    margin: 0 10px;
    overflow: hidden;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 450px;
  }
}
@font-face {
  font-family: "Staatliches";
  src: url("Staatliches-Regular.eot");
  src: url("Staatliches-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Staatliches-Regular.woff2") format("woff2"), url("../fonts/Staatliches-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("Barlow-Regular.eot");
  src: url("Barlow-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Regular.eot");
  src: url("SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("ProximaNova-Regular.eot");
  src: url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Staatliches";
  src: url("Staatliches-Regular.eot");
  src: url("Staatliches-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Staatliches-Regular.woff2") format("woff2"), url("../fonts/Staatliches-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("Barlow-Regular.eot");
  src: url("Barlow-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Regular.eot");
  src: url("SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("ProximaNova-Regular.eot");
  src: url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 1192px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 500px;
    margin: 0 10px;
    overflow: hidden;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 450px;
  }
}
.footer {
  background-color: #F0F0F4;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 98px;
  padding-top: 42px;
  padding-bottom: 27px;
}

.footer__subscription {
  margin-top: 14px;
}

.form .form__input-subscription {
  margin-top: 34px;
  width: 201px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 12px;
  font-family: "SFProDisplay";
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  color: #2F3035;
  background-color: #fff;
}

.form__icon {
  display: none;
}

.subscription__text {
  font-family: "SFProDisplay";
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
  text-align: center;
  color: #2F3035;
  line-height: 17px;
}

.form .form__button-subscription {
  font-family: "SFProDisplay";
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  color: white;
  right: -70px;
  top: 33px;
  padding: 10px 16px;
}
.form .form__button-subscription .footer__menu {
  margin-top: 20px;
}

.menu__title {
  font-family: "SFProDisplay";
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
  text-align: left;
  color: #2F3035;
}

.footer__contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__menu {
  margin-top: 20px;
}

.footer__icon {
  margin-left: 50px;
}
.footer__icon :hover {
  cursor: pointer;
}

.footer__conditionality {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}

.conditionality__text {
  font-family: "SFProDisplay";
  font-size: 14px;
  font-weight: 400;
  text-transform: lowercase;
  text-align: left;
  color: #48494D;
  padding-bottom: 27px;
  text-align: center;
}

.conditionality__text:nth-child(1) {
  margin-right: 100px;
}

.conditionality__text:nth-child(2) {
  margin-right: 20px;
}

@media (max-width: 576px) {
  .footer {
    background-color: #fff;
  }
  .footer__info {
    align-items: baseline;
    margin-top: 83px;
  }
  .footer__conditionality {
    white-space: nowrap;
    flex-direction: column;
    align-items: baseline;
  }
}
@media (max-width: 1192px) {
  .footer__info {
    flex-direction: column;
    align-items: baseline;
  }
  .menu__items-footer {
    display: none;
  }
  .footer__icon {
    margin-left: 30px;
  }
  .footer__icon:nth-child(1) {
    margin-left: 50px;
  }
  .footer__contacts {
    margin-top: 61px;
  }
  .menu__title {
    color: #7F7F7F;
    font-weight: 500;
  }
  .form .form__button-subscription {
    display: block;
  }
  .form__icon {
    display: block;
    position: absolute;
    top: 13px;
    right: 15px;
  }
}
@font-face {
  font-family: "Staatliches";
  src: url("Staatliches-Regular.eot");
  src: url("Staatliches-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Staatliches-Regular.woff2") format("woff2"), url("../fonts/Staatliches-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("Barlow-Regular.eot");
  src: url("Barlow-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Regular.eot");
  src: url("SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("ProximaNova-Regular.eot");
  src: url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 1192px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 500px;
    margin: 0 10px;
    overflow: hidden;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 450px;
  }
}
.header__top {
  font-family: "SFProDisplay";
  font-size: 20px;
  font-weight: 700;
  text-transform: lowercase;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.navigation__items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation__item {
  margin-left: 50px;
  list-style: none;
}
.navigation__item:hover {
  cursor: pointer;
}

.navigation__item--margin {
  margin-left: 0;
}

.header__logo {
  flex-direction: column;
}

.logo_image {
  display: block;
}

.logo__text {
  font-family: "Staatliches";
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  margin-top: 8.84px;
  line-height: 25px;
}

.header__lacation {
  font-family: "SFProDisplay";
  font-size: 20px;
  font-weight: 700;
  text-transform: lowercase;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.location {
  position: relative;
}

.location__pointer {
  position: absolute;
  bottom: 0;
  left: -27px;
}

.header__user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__userdiv {
  margin-left: 10px;
}

.user__favorites:hover {
  cursor: pointer;
}

.user__profile:hover {
  cursor: pointer;
}

.user__cart:hover {
  cursor: pointer;
}

.header__menu {
  margin-top: 21px;
}

.menu {
  background-color: #F0F0F4;
}

.menu-products {
  background-color: #fff;
}

.menu__items {
  padding: 15px 0 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__items-footer {
  flex-direction: column;
  line-height: 17px;
  align-items: flex-start;
  padding: 0;
}
.menu__items-footer li {
  margin-top: 5px;
}
.menu__items-footer li a {
  color: #2F3035;
}

.menu__link {
  font-family: "SFProDisplay";
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  color: #2F3035;
  line-height: 23.87px;
}

.menu__link--active {
  font-weight: 600;
  position: relative;
  padding-bottom: 14px;
  border-bottom: 3px solid #1C62CD;
}

.header__icon {
  display: none;
}

.menu__items-products {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation {
  display: block;
}

.navigation_mobile {
  display: none;
}

#burger {
  display: none;
}

@media (max-width: 1192px) {
  .header__top {
    text-align: left;
  }
  .logo_image {
    display: none;
  }
  .header__lacation {
    display: none;
  }
  .navigation {
    display: none;
  }
  .navigation_mobile {
    display: none;
  }
  #burgerClose + label + .navigation_mobile {
    display: none;
  }
  #burger:checked + label + .navigation_mobile {
    display: flex;
  }
  .menu__link {
    margin-left: 15px;
  }
  .header__icon {
    display: block;
  }
  .header__icon:hover {
    cursor: pointer;
  }
  .navigation__item {
    margin: 10px 0;
    position: relative;
  }
  .navigation__item::before {
    position: absolute;
    content: " ";
    width: 600px;
    bottom: 0;
    border: 1px solid #EEE;
    left: -100px;
  }
  .navigation__item a {
    margin-left: 23px;
    color: #2F3035;
  }
  .navigation__items_mobile {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #fff;
    top: 0;
    left: 0;
    flex-direction: column;
  }
  .navigation__item_margin {
    margin: 10px 20px;
  }
}
@media (max-width: 756px) {
  .menu__items-footer {
    display: none;
  }
}
@charset "UTF-8";
@font-face {
  font-family: "Staatliches";
  src: url("Staatliches-Regular.eot");
  src: url("Staatliches-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Staatliches-Regular.woff2") format("woff2"), url("../fonts/Staatliches-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("Barlow-Regular.eot");
  src: url("Barlow-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Regular.eot");
  src: url("SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("ProximaNova-Regular.eot");
  src: url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 1192px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 500px;
    margin: 0 10px;
    overflow: hidden;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 450px;
  }
}
.main__popular {
  margin-top: 80px;
}

.title__text {
  font-family: "Barlow";
  font-size: 25px;
  font-weight: 700;
  text-transform: none;
  text-align: left;
  color: #2F3035;
  line-height: 30px;
}

.product__cart {
  position: absolute;
  bottom: 0px;
  right: 0;
  padding: 10px 16px 7.5px 14px;
  background-color: #1C62CD;
  border-radius: 10px 0px 0px 0px;
}

.product {
  border-radius: 3px;
  text-align: center;
  position: relative;
  padding: 16px 19px 31px 40px;
  margin-left: 30px;
  font-family: "SFProDisplay";
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  color: #2F3035;
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  border-radius: 3px;
}
.product div {
  margin-top: 14px;
}

.product__title {
  line-height: 21.48px;
}

.product__prise {
  font-family: "Barlow";
  font-size: 30px;
  font-weight: 700;
  text-transform: none;
  text-align: center;
  color: none;
}

.product :hover:after {
  position: absolute;
  content: "посмотреть товар";
  cursor: pointer;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
  width: 230px;
  height: 51px;
  background-color: #FFFFFF;
  opacity: 0.9;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding-top: 18px;
  font-family: "SFProDisplay";
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  color: #2F3035;
}

.product__cart:hover:after {
  content: none;
}

.product__cart:hover {
  cursor: pointer;
}

.product__sale {
  position: absolute;
  top: -15px;
  left: 0;
  width: 63px;
  height: 25px;
  padding-top: 6px;
  background-color: #1C62CD;
  font-family: "SFProDisplay";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  line-height: 14.32px;
}

.product__sale:hover:after {
  content: none;
}

.product__favorit {
  position: absolute;
  right: 19px;
  top: 16px;
}

.product__favorit:hover:after {
  content: none;
}

.product__favorit:hover {
  cursor: pointer;
}

.product__prise-noPrise {
  font-family: "SFProDisplay";
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  text-align: center;
  color: none;
}

.product:hover {
  color: #1C62CD;
  cursor: pointer;
}

.mein__menu-products {
  margin-top: 25px;
}

.menu__items-products li {
  margin-left: 50px;
}

.menu__items-products li:nth-child(1) {
  margin-left: 0px;
}

.main__more {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__button {
  font-family: "SFProDisplay";
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #2F3035;
  padding: 17px 43px 15px 43px;
  background-color: #F0F0F4;
  letter-spacing: 0.12em;
  line-height: 18px;
  text-align: center;
  border: none;
}

.main__button:hover {
  cursor: pointer;
}

.main__frequent {
  margin-top: 72px;
}

.main__more-mobile {
  display: none;
}

@media (max-width: 992px) {
  .main__more-mobile {
    display: flex;
  }
}
@font-face {
  font-family: "Staatliches";
  src: url("Staatliches-Regular.eot");
  src: url("Staatliches-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Staatliches-Regular.woff2") format("woff2"), url("../fonts/Staatliches-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("Barlow-Regular.eot");
  src: url("Barlow-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Regular.eot");
  src: url("SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("ProximaNova-Regular.eot");
  src: url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 1192px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 500px;
    margin: 0 10px;
    overflow: hidden;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 450px;
  }
}
.search__filters {
  margin: 80px 0;
}

.navigation__items-filters {
  font-family: "SFProDisplay";
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  color: #000;
}

.navigation__item-filterActiv {
  background-color: #F0F0F4;
  padding: 11px 26px 12px 26px;
  font-weight: 700;
  border-radius: 5px;
}

.form {
  position: relative;
}

.form input {
  width: 1157px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "SFProDisplay";
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  color: #656464;
  background-color: #F0F0F4;
  border: none;
  border-radius: 3px;
}

.form button {
  position: absolute;
  right: -5px;
  top: 0;
  font-family: "SFProDisplay";
  font-size: 14px;
  font-weight: 700;
  text-transform: center;
  text-align: left;
  color: #FFF;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background: #1C62CD;
  padding: 17px 38px 16px 40px;
  border-radius: 3px;
}

@media (max-width: 800px) {
  .navigation__items-filters {
    white-space: nowrap;
    overflow: height;
  }
  .form {
    margin: 0;
  }
  .form input {
    width: 700px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .form button {
    display: none;
  }
}
@font-face {
  font-family: "Staatliches";
  src: url("Staatliches-Regular.eot");
  src: url("Staatliches-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Staatliches-Regular.woff2") format("woff2"), url("../fonts/Staatliches-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("Barlow-Regular.eot");
  src: url("Barlow-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("SFProDisplay-Regular.eot");
  src: url("SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("ProximaNova-Regular.eot");
  src: url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 1192px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 500px;
    margin: 0 10px;
    overflow: hidden;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 450px;
  }
}
.stocks__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 81px;
}

.slider {
  width: 870px;
  overflow: hidden;
  position: relative;
}

.slider-products {
  width: 1150px;
  margin-top: 35px;
  padding-right: 50px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.slider__row {
  position: relative;
  display: flex;
}

.slider__trigers {
  position: absolute;
  display: flex;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.trigers__item--active {
  margin-left: 0;
  background-color: #fff;
}

.trigers_item {
  margin-left: 9px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.trigers_item:hover {
  cursor: pointer;
}

.slider__arrow {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
}
.slider__arrow img {
  width: 100%;
}
.slider__arrow:hover {
  cursor: pointer;
}

.slider__arrow--left {
  left: 23px;
}

.slider__arrow--right {
  right: 14.87px;
}

.slider__blackArrow--left {
  left: 0;
}

.slider__blackArrow--right {
  right: 0;
}

.sale__wrapper {
  border-radius: 3px;
  border: 1px solid #CDCDCD;
}

.sale__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-right: 4px;
}

.saleHeader_text--stocks {
  font-family: "ProximaNova";
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 8px 19.31px 8.8px 20px;
  background-color: #1C62CD;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.saleHeader__price {
  font-family: "Barlow";
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #1C62CD;
}

.sale__img {
  text-align: center;
  margin-top: 36px;
}

.saleHeader__oldPrice {
  text-align: right;
  position: relative;
  margin-top: 7px;
  display: flex;
  justify-content: flex-end;
  line-height: 17px;
  font-family: "Barlow";
  font-size: 14px;
  font-weight: 400;
  text-transform: lowercase;
  text-align: none;
  color: #C4C4C4;
}

.oldPrice__text {
  margin-top: 3px;
}

.oldPrice__img {
  margin-left: 3.93px;
  padding-right: 4px;
  margin-top: 2px;
}

.saleHeader__oldPrice::before {
  content: " ";
  position: absolute;
  content: " ";
  width: 60px;
  height: 0.5px;
  background-color: #C4C4C4;
  transform: rotate(-5.33deg);
  top: 8px;
  right: 4px;
}

.sale__title {
  font-family: "SFProDisplay";
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  text-align: center;
  color: #000;
  margin-top: 4.31px;
}

.sale__top {
  margin-top: 7px;
  background-color: #F0F0F4;
  padding: 41px 36px 48px 40px;
}

.sale__description {
  font-family: "SFProDisplay";
  font-size: 21px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  color: #000;
}

.sale__date {
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  text-align: center;
  color: #1C62CD;
  line-height: 22px;
}

.slider__trigers-products {
  display: flex;
}

@media (max-width: 1192px) {
  .slider {
    width: 890;
    margin: 0 20px;
  }
  .slider__row-mobile img {
    width: 800px;
  }
  .slider-products {
    width: 1000px;
    margin-top: 35px;
    padding-right: 50px;
    padding-bottom: 5px;
  }
}
@media (max-width: 992px) {
  .slider {
    width: 500px;
    margin: 0 20px;
  }
  .slider__row-mobile img {
    width: 500px;
  }
  .slider-products {
    width: 260px;
    margin: 35px auto;
    padding-right: 50px;
    padding-bottom: 30px;
  }
  .slider__trigers-products {
    display: flex;
    bottom: 0;
  }
  .trigers__item--activeProducts {
    background-color: #1C62CD;
  }
  .trigers_item-products {
    background-color: #C4C4C4;
  }
  .slider__arrow {
    display: none;
  }
  .stocks__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 81px;
    flex-direction: column;
  }
  .sale__wrapper {
    margin-top: 40px;
    width: 500px;
  }
}
@media (max-width: 576px) {
  .slider {
    width: 300px;
    margin: 0 20px;
  }
  .slider__row-mobile img {
    width: 300px;
  }
  .sale__wrapper {
    width: 265px;
  }
  .slider__trigers {
    bottom: 20px;
  }
  .trigers_item {
    width: 7.04px;
    height: 7px;
  }
  .slider__trigers-products {
    bottom: 0px;
  }
  .trigers_item-products {
    height: 14px;
    width: 13.68px;
  }
  .trigers__item--activeProducts {
    height: 14px;
    width: 13.68px;
  }
  .slider-products {
    width: 260px;
    margin: 10px auto;
  }
}

/*# sourceMappingURL=style.css.map */
